%section.content
  .row
    .col-xs-12
      .box.box-primary
        .box-body
          %table.table.table-bordered
            %tr
              %th Title
              %th Full Name
              %th Gender
              %th Date of Birth
              %th Address Type
              %th Address
              %th City
              %th Postal Code
              %th Country
              %th Occupation
              %th Actions
            %tr
            - if @tenants.size > 0
              - @tenants.each do |tenant|
                %tr
                  %td= tenant.title
                  %td= tenant.full_name
                  %td= tenant.gender
                  %td= tenant.date_of_birth
                  %td= tenant.address_type
                  %td= tenant.address
                  %td= tenant.city
                  %td= tenant.postal_code
                  %td= tenant.country
                  %td= tenant.occupation
                  %td
                    = link_to 'Edit', edit_admin_tenant_path(tenant)
                    |
                    = link_to 'Show', admin_tenant_path(tenant)
                    |
                    = link_to 'Delete', admin_tenant_path(tenant) , :method=>:delete, :data => {:confirm=>"Are you sure?" }
            - else
              %div No record found.
        / /.box-body
        .box-footer.clearfix
          %ul.pagination.pagination-sm.no-margin.pull-right
            %li
            = will_paginate @tenants, :previous_label => '&laquo;', :next_label => '&raquo;'
            %br/
          = link_to 'Add New', new_admin_tenant_path, :class => 'btn btn-primary'
      / /.box
    / /.col
  / /.row
/ /.content
/ /.content-wrapper